$colorTexto: #1a1f21;
$colorFondoCeleste: #7ec1e4;
$colorBorde: gray;
$colorBgEstilo: rgb(204,205,205);

$colorGradienteHeader: linear-gradient(90deg, 
rgba(204,205,205,0.9) 0%, 
rgba(126,193,228,0.9) 50%, 
rgba(204,205,205,0.9) 100%) ;

$colorGradienteTitulos: linear-gradient(90deg, 
rgba(204,205,205,0.9) 0%, 
rgba(126,193,228,0.9) 50%, 
rgba(204,205,205,0.9) 100%) ;

$colorGradienteContenidos: linear-gradient(90deg, 
rgba(204,205,205,0.7) 0%, 
rgba(126,193,228,0.9) 50%, 
rgba(204,205,205,0.7) 100%) ;

$colorGradienteServiciosMenu: linear-gradient(90deg, 
rgba(204,205,205,0.9) 0%, 
rgba(126,193,228,0.9) 50%, 
rgba(204,205,205,0.9) 100%) ;

$colorGradienteFooter: linear-gradient(90deg, 
rgba(204,205,205,0.3) 0%, 
rgba(126,193,228,0.3) 50%, 
rgba(204,205,205,0.3) 100%) ;



$pesoFuenteExtraLight: 200;
$pesoFuenteLight: 300;
$pesoFuenteNormal: 400;
$pesoFuenteSemiBold: 600;

$radioTotal6: 6px 6px 6px 6px;
$radioTotal8: 8px 8px 8px 8px;
$radioTotal10: 10px 10px 10px 10px;





